/* Universal box-sizing for all elements */
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

#body{
  width: 100%;
}

@media (max-width:768px) {
  #body{
    width: 80%;
  }
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:768px) {
  #root{
    width: 100%;
  }
}

/* Styles for the NavBar Component*/

.NavBar-container {
  background: linear-gradient(
    90deg,
    hsla(145, 84%, 73%, 1) 0%,
    hsla(150, 61%, 48%, 1) 100%
  );
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
 
}

/* Styles for Logo Icon */
.LogoIcon-container {
  width: 50px;
  margin-top: 5px;
  color: #ff004f;
}

/* Styles for elements inside NavBar */
.NavBar-container h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  color:#002FA7;
  cursor: pointer;
}

.NavBar-container span {
  background: -webkit-linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  text-decoration: solid;
}

.NavBar-container button {
  margin: 10px 10px 10px;
  width: 150px;
  height: 40px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-color:#002FA7;
  background: linear-gradient(
    90deg,
    hsla(233, 100%, 90%, 1) 0%,
    hsla(0, 0%, 89%, 1) 100%
  );
  border-radius: 5px;
}

/* Responsive styling for devices below 650px */
@media (max-width: 768px) {
  .NavBar-container {
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    
  }

  .LogoIcon-container svg{
    width: 35px;
    margin: 10px;
    color: #ff004f;
  }

  .NavBar-container h1 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color:#002FA7;
    cursor: pointer;
  }

  span {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .NavBar-container button {
    margin-top: 5px;
    margin-right: 20px;
    width: 90px;
    height: 30px;
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
  }
}

.crypto-home {
  width: 90%;
}

/* CSS for Trending Component */

.Trending-wrapper-container{
  width: 100%;  
}

.Trending-container{
  width: 100%;
  height: 1250px;
}

/* CSS for CoinTrending Component */

.CoinTrending-main-container {
  text-decoration: none;
}

.CoinTrending-container {
  width: 99%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: aqua;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background: linear-gradient(
    90deg,
    hsla(120, 93%, 84%, 1) 0%,
    hsla(185, 90%, 51%, 1) 100%
  );
}

.CoinTrending-wrapper-container {
  display: flex;
  align-items: center;
}

.CoinTrending-wrapper-container p {
  color: black;
  font-size: 1.1rem;
  font-weight: semi-bold;
  margin-bottom: 5px;
  margin-left: 10px;
}

.CoinTrending-wrapper-container img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.CoinTrending-wrapper-container small {
  color: #343434;
  margin-left: 10px;
}

.CoinTrending-container:hover {
  transform: translateY(-5px); /* Adjust hover effect */
}

@media (max-width: 768px) {
  .crypto-home {
    width: 100%;
  }

  .Trending-wrapper-container h2{
   font-size: 1.25rem;
  }
  
  .Trending-container{
    width: 100%;
    height: 925px;
  }

  .CoinTrending-container {
    max-width: 100%; 
    margin: 10px 0;
  }

  .CoinTrending-wrapper-container p {
    color: black;
    font-size: 0.9rem;
    font-weight: semi-bold;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  .CoinTrending-wrapper-container img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
  
  .CoinTrending-wrapper-container span {
    font-size: 0.9rem;
    font-weight: semi-bold;
    margin-left: 10px;
  }

  .CoinTrending-wrapper-container small {
    font-size: 0.8rem;
  }
}

/* CSS for Markets Component */

.Markets-container {
  width: 100%;
}

.Markets-wrapper-container {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 20px;
}

@media (max-width: 768px) {
  .Markets-wrapper-container {
    grid-template-columns: 1fr;
  }
}

/* CSS for Coin Component */

.coin-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: transform 0.3s ease;
  background: linear-gradient(
    90deg,
    hsla(120, 93%, 84%, 1) 0%,
    hsla(185, 90%, 51%, 1) 100%
  );
}

.coin-container:hover {
  transform: translateY(-5px);
}

.coin-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  align-items: center;
  width: 25%;
}

.icon-container img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.icon-container p {
  font-size: 1.1rem;
  color: black;
  margin-top: 12px;
}

.icon-container span {
  color: #343434;
  margin-left: 5px;
}

.current-price-container {
  width: 25%;
  font-size: 1rem;
}

.current-price-container p {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.coin-currentPrice-container p {
  color: black;
  font-size: 1.1rem;
  font-weight: semi-bold;
}

.coin-currentPrice-container span {
  font-size: 1rem;
  margin-left: 10px;
  color: black;
}

.MarketCap-Container {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
}

.MarketCap-Container p {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

/* Responsive styling */
@media (max-width: 768px) {
  .icon-container {
    display: flex;
    align-items: center;
    width: 50%;
  }

  .icon-container img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .icon-container p {
    font-size: 1rem;
    color: black;
    margin-top: 12px;
  }

  .icon-container span{
    font-size: 0.9rem;
  }

  .current-price-container {
    width: 30%;
  }

  .current-price-container p {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0%;
  }

  .current-price-container span{
    font-size: 0.9rem;
  }
}

a {
  text-decoration: none;
  color: black;
}

.coin-currentPrice-container {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
}

.coin-currentPrice-container p {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 15px;
}

.crypto-detail{
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}

@media (max-width:768px) {
  .crypto-detail{
    width: 100%;
    flex-direction: row;
  }

  .market-search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .chart-markets-container{
    width: 100%;
  }
}

.market-search-container {
  width: 69%;
  display: flex;
  flex-direction: column;
}

/* CSS for CoinChart Component */

.Chart-container {
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 5px;
  margin-top: 10px;
  flex-direction: column;
  background-color: #f5f5f5;
}

.CoinChart-container {
  display: flex;
  flex-direction: row;
  width: 99%;
  height: 90%;
  padding: 5px;
}

.coinchart-canvas{
  width: 98% !important;
  height: 98% !important;
}

.button-chart-container {
  display: flex;
  justify-content: space-between;
}

.button-chart-container button {
  width: 35px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 0.7rem;
  font-weight: bold;
  justify-content: center;
  border-radius: 5px;
  border-color: #5e8ff8;
}

.button-chart-container :hover {
  background-color: #5e8ff8;
}

.Dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 10px 10px 10px;
  font-size: 0.95rem;
}

.Dropdown-container select {
  border-radius: 5px;
  background-color: #f5f5f5;
}

@media (max-width:768px) {
  .Chart-container {
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 5px;
    margin-top: 10px;
    flex-direction: column;
    background-color: #f5f5f5;
  }

  .CoinChart-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .coinchart-canvas{
    width: 96% !important;
    height: 96% !important;
  }

  .button-chart-container {
    display: flex;
  }

  .button-chart-container button {
    width: 15px;
    display: flex;
    font-size: 0.5rem;
    font-weight: bold;
    border-radius: 5px;
    border-color: #5e8ff8;
  }

  .Dropdown-container {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
  }
}

/* CSS for MarketCap and MarketCoin Components combined */

.sidebar-container {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  border-width: 3px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

@media (max-width:768px) {
  .sidebar-container {
    display: none;
  }

  .marketcoin-container{
    display: none;
  }

  .marketcap-wrapper{
    display: none;
  }

  .marketcap-wrapper-container{
    display: none;
  }
}

@media (min-width:769px) and (max-width:1024px) {
  .sidebar-container {
    width: 30%;
    height: 725px;
    display: flex;
    justify-content: space-between;
  }

  .coin-image-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
    border-radius: 5px;
  }
  .coin-image-container img{
    width: 20px;
    height: 20px;
  }

  .coin-image-wrapper{
    width: 50% !important;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    margin-left: 0px;
  }

  .mktcap-container{
    width: 50% !important;
  
  }

  .mktcap-container p{
    font-size: 0.5rem;
  }
}
/* CSS for MarketCap Component */

.marketcap-wrapper{
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.marketcap-wrapper-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.marketcap-wrapper h4{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}

/* CSS for MarketCoin Component */

.marketcoin-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coin-image-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
}

.coin-image-container img{
  width: 30px;
  height: 30px;
}

.coin-image-container p{
  font-size: 0.9rem;
  margin-bottom: 0 !important;
}

.coin-image-wrapper{
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.mktcap-container{
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mktcap-container p{
  font-size: 0.9rem;
}

.mktcap-container span{
  font-size: 0.8rem;
}

.price-change-container{
  width: 25%;
  display: flex;
  align-items: flex-start;
}

.price-change-container span{
  font-size: 0.8rem;
}

@media (max-width:768px) {
  .marketcoin-container{
    display: none;
  }
  
}

/* CSS for Search Component */

.currency-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.currency-container select {
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.search-icon {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  width: 91%;
  height: auto;
  border-width: 3px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.search-container input {
  width: 100%;
  display: flex;
  border: none;
  outline: none;
  border-width: 3px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.chart-markets-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width:768px) {
  .market-search-container{
    width: 100%;
  }

  .currency-container {
    width: 100%;
    height: 30px;
    display: flex;
  }

  .currency-container select {
    width: 13%;
    display: flex;
    font-size: 0.5rem;
  }

  .search-container {
    width: 85%;
    display: flex;
    align-items: center;
  }

  .chart-markets-container {
    width: 100%;
    
  }
}

/* CSS for PortfolioChart Component */

.portfolio-container {
  width: 50%;
  height: 370px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 3px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.portfolio-heading{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.portfolio-paragraph{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.portfolio-heading p{
  color: dimgrey;
  margin-top: 10px;
}

.portfolio-heading input{
  width: 40%;
  border: none;
  height: auto;
  border-radius: 5px;
}

.portfolio-canvas {
  display: flex !important;
  width: 70% !important;
  height: 75% !important;
  margin-bottom: 20px;
} 

.portfolio-exchange{
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media (max-width:768px) {
  .portfolio-exchange{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .portfolio-container {
    width: 50%;
    height: 200px;
    margin-top: 10px;
  }

  .portfolio-canvas {
    display: flex !important;
    width: 70% !important;
    height: 75% !important;
    margin-bottom: 5px;
  } 

  .portfolio-heading{
    width: 100%;
    font-size: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% !important;
  }

  .portfolio-heading h3{
    font-size: 1.1rem;
  }

  .portfolio-heading p{
    margin-top: 16px;
  }
}

/* CSS for ExchangeCoin Component */

.exchange-container{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 10px;
  border-width: 3px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.exchange-heading-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.exchange-heading-container h4{
  width: 100%;
  justify-content: flex-start;
  height: 30px;
  padding: 10px;
}

.exchange-span span{
  display: flex;
  justify-content: flex-end;
  margin-right: 75px;
}

.buy-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  margin-top: 20px;
}

.buy-container p{
  margin-bottom: 0 !important;
  align-items: flex-end;
}

.buy-container span{
  color: green;
  font-size: 1.2rem;
}

.buy-container select{
  width: 25%;
  border-radius: 5px;
  font-size: 1rem;
}

.buy-container input{
  width: 25%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.sell-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
}

.sell-container span{
  color: red;
  font-size: 1.2rem;
}

.sell-container select{
  width: 25%;
  border-radius: 5px;
  font-size: 1rem;
}

.sell-container input{
  width: 25%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.exchange-button{
  width: 50%;
  height: 40px;
  margin: 30px 0 0 70px;
  border-radius: 5px;
  color: #f5f5f5;
  background-color: #002FA7;
}

@media (max-width:768px) {
  .exchange-container{
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 0 5px;
    border-width: 3px;
    border-radius: 5px;
    background-color: #f5f5f5;
  }

  .exchange-heading-container h4{
    font-size: 1rem;
    padding: 2px;
  }
  
  .exchange-span span{
    display: flex;
    justify-content: flex-end;
    font-size: 0.6rem;
    margin-right: 27px;
  }

  .buy-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
  }

  .buy-container span{
    color: green;
    font-size: 1rem;
  }

  .buy-container select{
    width: 30%;
    border-radius: 5px;
    font-size: 0.8rem;
  }

  .buy-container input{
    width: 30%;
    font-size: 0.8rem;
  }

  .sell-container span{
    color: red;
    font-size: 1rem;
  }

  .sell-container select{
    width: 30%;
    border-radius: 5px;
    font-size: 0.8rem;
  }

  .sell-container input{
    width: 30%;
    font-size: 0.8rem;
  }

  .exchange-button{
    width: 60%;
    height: 30px;
    font-size: 0.9rem;
    margin: 8px 0 0 7px;
  }
}

/* CSS for LogIn Component */

.LogIn-container{
  width: 25%;
  height: 600px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5
}

.LogIn-container h2 {
  text-align: center;
  color: #002FA7;
}

.LogIn-container form {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.25rem;
  font-weight: semi-bold;
}

@media (max-width: 768px) {
  .LogIn-container {
    max-width: 90%;
    font-size: small;
  }
}

.LogIn-container input {
  width: 95%;
  height: 40px;
  border: none;
  font-size: medium;
  border-radius: 5px;
  color: darkgrey;
}

.LogIn-container a {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #002FA7;
  text-decoration: underline;
}

.login-footer-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-footer-wrapper svg{
  width: 40px;
}

.login-footer-wrapper h3{
  font-size: 1.25rem;
  color: black;
  margin-top: 5px;
}

.login-footer-copyright{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login-footer-copyright p{
  font-size: 0.8rem;
}

.login-footer-copyright svg{
  width: 40px;
}

.login-footer-copyright :hover{
  cursor: pointer;
}


.button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}

.button-container .btn-success {
  background-color: #ff004f;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 5px;
  border-radius: 5px;
  border-width: 2px;
  box-shadow: 1px;
}

.btn {
  cursor: pointer;
}

.button-container .btn-secondary {
  background-color: #ff0000;
  background-clip: text;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px;
}

.btn:hover {
  background: linear-gradient(
    90deg,
    hsla(259, 84%, 78%, 1) 0%,
    hsla(206, 67%, 75%, 1) 100%
  );
}

.SignUp-container{
  width: 25%;
  height: 600px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5
}

.SignUp-container h3 {
  text-align: center;
  color:black;
}

.SignUp-container form {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.25rem;
  font-weight: semi-bold;
}

@media (max-width: 768px) {
  .SignUp-container {
    max-width: 600px;
  }
}

.SignUp-container label {
  margin-top: 10px;
}

.SignUp-container input {
  width: 95%;
  height: 40px;
  border: none;
  font-size: medium;
  border-radius: 5px;
  color: darkgrey;
}

@media (max-width: 768px) {
  .footer-container {
    width: 90%;
  }
}
.img,
svg {
  width: 50px;
}

.footer-container {
  width: 100%;
}

.footer-container h3 {
  display: inline;
  color: black;
}

.footer-container p {
  font-size: 1.1rem;
}

.footer-wrapper-container {
  display: flex;
  align-items: center;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
